# Ignore everything without an extension, then selectively allow files and directories.
*
!*.*
!*/

# Ignore Windows Zone.Identifier
*:Zone.Identifier

# Don't ignore makefiles and license files.
!makefile
!Makefile
!LICENSE

# Ignore build artifacts.
*.o
*.a

# Ignore text files, except the Python requirements.
*.txt
!requirements.txt

# Ignore Python cache.
__pycache__/

# Ignore IDE directories.
.vscode/
.vs/
